.c-tabs
	position: relative
	max-width: 968px
	+clr
	+md
		margin: 0 auto
	$parent: &
	&.is-active
		z-index: 1101
		#{$parent}__overlay
			position: fixed
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			z-index: -100
			background-color: rgba(#131313, .7)
			content: ''
			display: block
		#{$parent}__tabs-for
			background: #fff
		#{$parent}__close
			opacity: 1
			visibility: visible
	&__overlay
		display: none
	&__tabs
		&-nav
			float: left
			width: 285px
			font-size: 0
			+sm
				width: 240px
			+xs
				width: 100%
				float: none
		&-el
			padding: 0 17px
			height: 71px
			cursor: pointer
			border-radius: 10px 0 0 10px
			background-color: rgba(#f39200, .9)
			+trs
			+vertical
			text-align: left
			+sm
				padding: 0 13px
			+xs
				height: 46px
				border-radius: 10px
			&:not(:first-child)
				margin-top: 1px
			span
				display: inline-block
				vertical-align: middle
				+f('hel-700', 16)
				color: $white
				+sm
					font-size: 14px
				+xs
					width: 100%
					br
						display: none
			&.is-active
				pointer-events: none
				background-color: rgba(#c05100, .9)
		&-for
			float: left
			height: 359px
			width: calc(100% - 285px)
			border-radius: 0 10px 10px 0
			background-color: rgba(#fff, .9)
			+trs
			+sm
				width: calc(100% - 240px)
			+xs
				width: 100%
				float: none
				height: auto!important
				margin-top: 10px
				border-radius: 10px
				
	&__tab
		display: flex
		align-items: center
		height: 100%
		padding: 5px 23px 5px 27px
		+sm
			padding: 5px 10px
		+xs
			padding: 10px
		&:not(:first-child)
			display: none
		p
			line-height: 18px
			text-align: left
			strong
				+f('hel-700')
			&:not(:first-child)
				margin-top: 18px
				+sm
					margin-top: 8px
		&-in
			text-align: center
	&__more
		position: relative
		margin-top: 20px
		+sm
			margin-top: 7px
		&-info
			display: none
			position: absolute
			top: 0
			left: -27px
			right: -23px
			z-index: 100
			background: #fff
			border-radius: 0 0 10px 0
			overflow: hidden
			+sm
				left: -10px
				right: -10px
			+xs
				border-radius: 0 0 10px 10px
		&-text
			padding: 0 23px 40px 27px
			text-align: left
			+sm
				padding: 0 10px 20px 10px
			p
				&:not(:first-child)
					margin-top: 15px
		&-list
			&:not(:first-child)
				margin-top: 28px
				+sm
					margin-top: 18px
			ul
				padding-left: 20px
				li
					position: relative
					&::after
						position: absolute
						top: 6px
						left: -16px
						width: 8px
						height: 8px
						background-color: #f39200
						content: ''
					&:not(:first-child)
						margin-top: 7px
			&-title
				padding-bottom: 4px
				margin-bottom: 15px
				+f('hel-700')
				border-bottom: 1px solid #1b69ac
				color: #303030
				+sm
					margin-bottom: 9px
		&-actions
			display: flex
			justify-content: space-between
			align-items: center
			padding: 8px 30px
			background: #fd8a00
			+sm
				padding: 8px
			+xs
				padding: 10px 5px
				flex-direction: column
		&-salary
			color: #fff
			+xs
				margin-bottom: 10px
			p
				+f('hel-700', 14)
				+xs
					text-align: center
			span
				+f('hel-400', 18)
				+sm
					font-size: 15px
				+xs
					display: block
		&-request
			+sm
				padding: 7px 18px
				font-size: 16px
				line-height: 16px
	&__close
		opacity: 0
		visibility: hidden
		position: absolute
		top: -11px
		right: -17px
		cursor: pointer
		width: 37px
		height: 37px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 50%
		background-color: #f39200
		transition: opacity .4s ease, visibility .4s ease
		+sm
			top: -24px
			right: -10px
		.no-touch &:hover::after
			background-color: #f39200
		&::after
			position: absolute
			top: 3px
			left: 3px
			right: 3px
			bottom: 3px
			background: #fff
			border-radius: 50%
			content: ''
			z-index: 1
			+trs
		.no-touch &:hover .icon
			fill: #fff
		.no-touch &:active .icon
			fill: #fff
		.icon
			fill: #f39200
			font-size: 18px
			z-index: 2
			+trs