.header
	&__contact
		height: 73px
		border-top: 2px solid #033b6c
		background-color: #1d71b8
		&-container
			display: flex
			justify-content: space-between
			align-items: center
			height: 100%
	&__logo
	
.nav
	padding: 19px 0
	background: #fff
	&__list
		display: flex
		justify-content: space-between
		a
			color: #1d71b8
			font-size: 16px
			border-bottom: 1px solid transparent
			+trs
			.no-touch &:hover
				border-bottom-color: #1d71b8
				