.icon-arr-d {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-arr-l {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-arr-r {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-loc {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-loupe {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
