.icon-arr-l {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-arr-r {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-loupe {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
