if about ? about : about = []

//begin about
+b.SECTION.about(class= about.classMod ? about.classMod : '')
	+e.container.container
		+b.H2.title-md О нас
		+e.descr
			+e.P Для постоянного профессионального развития сотрудников в АН «Визит» сформирована единая система корпоративного обучения - Учебный центр Визит.
		+e.study
			+e.H4.study-title Мы используем различные формы обучения:
			+e.study-list
				+e.study-card
					+e.study-card-img.img-decor
						+e.IMG(src='static/img/content/about-1.jpg' alt='image')
					+e.H5.study-card-title ТРЕНИНГИ
				+e.study-card
					+e.study-card-img.img-decor
						+e.IMG(src='static/img/content/about-2.jpg' alt='image')
					+e.H5.study-card-title ЭЛЕКТРОННЫЕ КУРСЫ
				+e.study-card
					+e.study-card-img.img-decor
						+e.IMG(src='static/img/content/about-3.jpg' alt='image')
					+e.H5.study-card-title ИНДИВИДУАЛЬНУЮ РАБОТУ,
						br
						| В ТОМ ЧИСЛЕ ПОЛЕВОЕ ОБУЧЕНИЕ
		+e.directions
			+e.H3.directions-title Мы реализуем программы обучения сотрудников по нескольким направлениям:
			+e.directions-inner
				+e.directions-item
					+e.directions-item-icon
						.icon.icon-circle-arrs
					+e.directions-item-text
						+e.P эффективное управление
							br
							| ресурсами компании
				+e.directions-item
					+e.directions-item-icon
						.icon.icon-cursor
					+e.directions-item-text
						+e.P дополнительное профессиональное обучение (в том числе маркетинговое, юридическое и т.д.)
				+e.directions-item
					+e.directions-item-icon
						.icon.icon-touch
					+e.directions-item-text
						+e.P информационные технологии,
							br
							| взаимодействие с клиентами
				+e.directions-item
					+e.directions-item-icon
						.icon.icon-magister
					+e.directions-item-text
						+e.P развитие личной эффективности