//begin contact-map
+b.SECTION.contact-map
	+e.body#contact-map

	+e.nav
		+e.H4.nav-title.title-md НАШИ ОФИСЫ В САМАРЕ
		+e.UL.nav-streets.js-contact-streets
			li.is-active
				a(href='#!' data-str-coords='[53.199174071213186, 50.179136999999955]')
					+i('arr-r')
					span ул. Революционная, 126
			li
				a(href='#!' data-str-coords='[53.206337071231616, 50.23361099999988]')
					+i('arr-r')
					span ул. Победы, 16  
			li
				a(href='#!' data-str-coords='[53.218637071205436, 50.2605155]')
					+i('arr-r')
					span ул. Победы, 108
			li
				a(href='#!' data-str-coords='[53.22939807117525, 50.20904200000001]')
					+i('arr-r')
					span ул. Стара-Загора, 53
			li
				a(href='#!' data-str-coords='[53.21202157121727, 50.157155499999945]')
					+i('arr-r')
					span ул. Мичурина, 116