if result ? result : result = []

//begin result
+b.SECTION.result(class= result.classMod ? result.classMod : '')
	+e.container.container
		+e.H3.title В результате обучения в нашем Учебном центре Вы приобретете следующие знания и навыки:
		+e.UL.list
			+e.LI.list-item
				+e.list-icon
					.icon.icon-speech
				+e.list-text Узнаете как построить свой диалог с Клиентом.
			+e.LI.list-item
				+e.list-icon
					.icon.icon-checked
				+e.list-text Научитесь устанавливать и поддерживать контакт с Клиентом, проводить опрос клиента относительно продаваемой квартиры, выявлять потребности продавцов и покупателей, отрабатывать возражения Клиентов.
			+e.LI.list-item
				+e.list-icon
					.icon.icon-lists
				+e.list-text Научитесь задавать вопросы приводящие к продаже услуг.
			+e.LI.list-item
				+e.list-icon
					.icon.icon-paper
				+e.list-text Научитесь эффективно аргументировать свою позицию о правильной стартовой стоимости объекта недвижимости и обосновать комиссионное вознаграждение.
			+e.LI.list-item._no-icon
				+e.list-icon
				+e.list-text И многое другое