//begin success
+b.SECTION.success
	+e.container.container
		+e.H2.title.title-md._white ИСТОРИИ УСПЕХА КОГДА СБЫВАЮТСЯ МЕЧТЫ

		+e.slider.js-success-slider.owl-carousel
			-i = 0
			while i < 3
				+e.person
					+e.person-img
						+e.IMG(src='static/img/content/success-julia.jpg' alt='image')
					+e.person-text
						+e.person-name Юлия Хмелевская
						+e.person-feed.js-dot
							+e.P Я работаю в АН «Визит» с 2005 года, так что меня можно считать заслуженным ветераном агентства. До того, как стать риелтором работала бухгалтером и в какой-то момент захотелось добавить в свою жизнь свежих красок, драйва и динамики.
						+e.BUTTON.person-story.underline._blue(type='button' data-popup-target='storyPopup') Читать полностью

				+e.person
					+e.person-img
						+e.IMG(src='static/img/content/success-ivan.jpg' alt='image')
					+e.person-text
						+e.H5.person-name Иван Николаев
						+e.person-feed.js-dot
							+e.P Я работаю в АН «Визит» с марта 2016 года, но в сфере недвижимости работаю очень давно. Еще во время обучения в институте я проходил производственную практику в Регистрационной палате, потом меня позвали туда на преддипломную практику...
						+e.BUTTON.person-story.underline._blue(type='button' data-popup-target='storyPopup') Читать полностью
				-i++

		+e.BUTTON.succes-btn.btn._has-blue-bg(type='button' data-popup-target='requestPopup') ХОЧУ ВОЙТИ В ИСТОРИЮ КОМПАНИИ “Визит”

		// здесь только один попап для примера. всё что надо - скопировать этот html и поменять data-popup-target/data-popup-id для остальных)
		+b.popup._story(data-popup-id='storyPopup', tabindex='-1', role='dialog')
			+e.container
				+e.close.js-popup-close
					+i('close')
				+e.person
					+e.person-img
						+e.IMG(src='static/img/content/success-julia.jpg' alt='image')
					+e.person-text
						+e.H6.person-name Юлия Хмелевская
						+e.P Я работаю в АН «Визит» с 2005 года, так что меня можно считать заслуженным ветераном агентства. До того, как стать риелтором работала бухгалтером и в какой-то момент захотелось добавить в свою жизнь свежих красок, драйва и динамики.
						+e.P Я давно присматривалась к сфере недвижимости, а там еще ситуация сложилась благоприятная: мы снимали квартиру, собирались приобретать жилье, и я решила, что, если устроюсь риелтором, все проблемы будут в одночасье решены. Собственно, так все и произошло.
						+e.P Так получилось, что в один день у меня было собеседование в двух агентствах недвижимости, но представители «Визита» позвонили мне в тот же день, чтобы сообщить, что они готовы взять меня на работу. Я, конечно же, не раздумывая приняла предложение.
						+e.P Когда я говорю, что проработала тринадцать лет на одном месте, многие мне не верят, но для меня «Визит» - это персональная зона комфорта. Мне здесь очень нравится, и я не хочу ничего менять в профессиональной деятельности.
						+e.P У нас очень хороший и слаженный коллектив. Мне кажется, что это самое главное преимущество работы в «Визите». Именно благодаря атмосфере взаимопонимания, у меня ни разу не мелькнула мысль сменить место работы.
						+e.P На сегодняшний день «Визит» - это лидер самарского рынка недвижимости и ощутимо опережает ближайших конкурентов в развитии. Лидерство проявляется не только в новых методиках и технологиях, которые мы берем на вооружение – у нас очень высокий средний уровень специалистов и самая, наверное, полная база объектов в городе.
						+e.P Мне нравится моя работа, потому что в ней прекрасно сочетается свободный график и отсутствие границ для профессионального роста и заработка. Серьезно: главное в нашем деле не лениться.