extends ../extend/default

block variables
	- var title = 'Визит';
	//	- var contactMap = false;
block main
	main.content

	include ../components/career

	include ../components/reason

	include ../components/success

	include ../components/rest

	include ../components/contactMap